@import '../../scss-utilities/breakpoints';
@import '../../scss-utilities/global';
@import '../../scss-utilities/header';
@import '../../scss-utilities/footer';

/* Shopping Bag Styles */
.cart-layout {
    display: grid;
    grid-template-columns: 1fr 380px;
    gap: 32px;
    margin-top: 32px;

    @include tablet {
        grid-template-columns: 1fr;
    }
}
