@import '../../scss-utilities/breakpoints';
@import '../../scss-utilities/base';
@import '../../scss-utilities/header';
@import '../../scss-utilities/footer';

/* Shop Page Styles */
.shop-catalog-layout {
    display: grid;
    grid-template-columns: 280px 1fr;
    gap: 32px;
    margin-top: 32px;

    @include tablet {
        grid-template-columns: 1fr;
    }
}
